#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 14px 30px 14px 90px; height: 85px; 
    background-color: white;
    box-shadow: 0 1px 10px rgba(238, 238, 240, 0.63);@include transition (all, 0.3s);
    &.auth-header{
        background-color: white; 
        //position: sticky;
        .logo{
            background-color: transparent;
        }
    }
    .toggle-icon{
        width: 90px; position: fixed;  left: 0;  height: 85px;  top: 0;
        border-right:2px solid #ECEDF4;
        a{
            width: 25px;
            span{
                display: block;
                height: 3px; width: 80%;@include transition (all, 0.1s); background:$theme-color;
                border-radius: 30px;
                &:nth-child(2){
                    margin:4px 0;
                    width: 100%;
                }
                &:nth-child(3){
                    margin:4px 0;
                    width: 60%;
                }
            }
        }
        
    }
    .logo {
        padding:0px 10px 0px 20px;    
        img{ @include transition (all, 0.5s);max-height:55px;}
        .mobile-logo{
            display: none;
        }
        .dasktop-logo{
            display: block;
        }
    }
    .navbar{
        padding:2px 0;  @include transition (all, 0.5s);  position: static;
        .right_nav{
            li{ 
                &:not(:last-child){
                    margin-right: 30px;
                }
                &.search-icon{
                    margin-top: 4px;
                    a{
                        font-size: 20px; color: #858585;
                    }
                }
                &.user_info{
                    margin-right: 60px; padding-left: 20px; border-left: 2px solid $grey;
                    .dropdown-toggle{
                        &:after{
                            border:0px;content: "\eb4e"; font-family: 'icomoon' !important;
                            font-size:25px;color:black;  margin-left: 5px;
                        }
                        .user_img{
                            max-width: 48px;margin-right: 10px;
                        }
                        .name{
                            font-family: $font-black; font-size: 17px; color: black;
                        }
                    }
                    .dropdown-menu{
                        border: 0;left: auto;right: -15px; box-shadow: 0 -5px 40px rgba(black, 0.1);border-radius: 3px;margin-top: 34px;
                        padding:0;transform: scale(0.85);opacity: 0;@include transition (all, 0.3s);visibility:hidden;display: initial;
                        &:before{
                            content:"";position: absolute;top:-10px;right:15px;border-left: 10px solid transparent;
                            border-right: 10px solid transparent;border-bottom: 10px solid white;
                        }
                        &.show{
                            transform: scale(1);opacity: 1;visibility: visible;  
                        }
                        a{
                            @include transition (all, 0.5s);padding: 8px 15px;
                            &:focus,&:hover{
                                background-color:$theme-color;color:white;
                            }
                            &:not(:last-child){
                                border-bottom: 1px solid #e2e2e2;
                            }
                        }
                    }
                }
                &.notification{
                    font-size: 25px;
                    margin-top: 4px;
                    position: relative;

                    i{
                       color: $dark-blue;@include transition (all, 0.5s);
                        &:hover{
                            color: $theme-color;
                        }
                    }
                    .count{
                        background-color:$theme-color; height: 20px; min-width: 20px; position: absolute;top: 0px;
                        right: -9px;color: white;font-size: 12px; padding:1px 4px;display: inline-block;text-align: center;
                    }
                    .dropdown-toggle{
                        &::after{display: none;}
                    }
                    .dropdown-menu{
                        border: 0;left: auto;right: -15px; box-shadow: 0 -5px 40px rgba(black, 0.1);border-radius: 3px;margin-top: 34px;
                        min-width: 400px;padding:0;transform: scale(0.85);opacity: 0;
                        @include transition (all, 0.3s);visibility:hidden;display: initial;
                        &::before{
                            content: "";position: absolute; top: -10px;right: 15px;border-left: 10px solid transparent;border-right: 10px solid transparent;
                            border-bottom: 10px solid white;
                        }
                        &.show{
                            transform: scale(1);opacity: 1;visibility: visible;
                        }
                        .notification-list{
                            max-height:250px;overflow-y:auto;
                            li{
                                padding:10px 15px;font-size:14px; margin-right:0px; 
                                &:not(:first-child){
                                    border-top: 1px solid #efefef;
                                }
                            }
                        }
                        .heading{
                            padding: 15px;border-bottom: 1px solid #efefef;font-size:20px;
                        }
                        .view-all{
                            text-align: center;padding:10px 15px;border-top: 1px solid #efefef;
                            a{color:$theme-color;display:inline-block;}
                            &:hover{
                                a{color:#01A6B7;}
                            }
                        }
                    }
                }
                &.user_img {
                        position: absolute;right: 0;background: $theme-color;top: 0;height: 100%;width: 68px;text-align: center;display: flex; align-items: center;justify-content: center;
                        a{
                           border: 2px solid white;border-radius: 10px;height: 38px;width: 38px;overflow: hidden;
                           img{
                            width: 100%;height: 100%;
                           }
                        }
                    }	
                .nav-link{
                    padding: 0;
                    color:black;@include transition (all, 0.5s);
                }
            }
        }
    }
    @media(max-width:1440px){
        height:70px;padding:0 30px 0 100px;
        .logo{
            padding:6px 0 6px 10px;
        }
        .toggle-icon{
            height: 70px;
        }
        .navbar{
            .right_nav{
                li{
                    &:not(:last-child){
                        margin-right: 25px;
                    }
                    &.search_form{
                        .form-group{
                            .form-control{
                                height: 35px;
                            }
                        }
                    }
                    &.user_info{
                        margin-right: 60px;
                        .dropdown-toggle{
                           .name{
                            font-size: 16px;
                           }
                        }
                        
                    }
                    &.notification{
                        margin-top:2px;
                    }
                }
            }
        }    
    }
    @include media-breakpoint-down(lg){
        height:60px;padding:6px 15px 6px 80px;
        .toggle-icon{
            height: 60px; border-bottom: 0; width: 70px;
        }
        .logo{
            padding:2px 0;
            img{max-height:44px;}
        }
        .navbar{
            .page-title{
                font-size:18px;
            }
            .right_nav{
                li{
                    &:not(:last-child){
                        margin-right: 15px;
                    }
                    &.user_info{
                        margin-right: 60px; padding-left: 15px;
                        .dropdown-toggle{
                            .name{
                                font-size: 15px;
                            }
                            &:after{
                                font-size: 20px;
                            }
                        }
                        .dropdown-menu{
                            left: -65px;  margin-top: 25px;
                            a{
                                padding:5px 12px;font-size:14px;
                            }
                        }
                    }
                    &.notification{
                        font-size: 20px;margin-top: 0px;
                        .count{top:-5px;}
                        .dropdown-menu{margin-top:26px;}
                    }
                    &.search-icon{
                        margin-top: 0;
                        a{font-size: 18px;}
                    }
                    &.user_img{
                        width: 60px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        height:50px; padding-left: 60px;
        .toggle-icon{
            width:50px;height: 50px;
            a{ span{height: 2px;}}
        }
        .logo{
            padding:2px 0; 
            img{max-height:33px;}
        }
        .navbar{
            .right_nav{
                margin-left: auto;
                 li{
                    &:not(:last-child){
                        margin-right: 15px;
                    }
                    &.user_info{
                        margin-right: 60px;border-width:1px;
                        .dropdown-toggle{
                            .name{
                                font-size: 14px;
                            }
                            &:after{
                                font-size: 18px;
                            }
                        }
                        .dropdown-menu{
                            left: -57px; min-width: 140px;
                        }
                    }
                    &.notification {
                        font-size:20px;
                        .count{ width:18px;height:18px;top:-2px; font-size: 10px;}
                        .dropdown-menu{
                            min-width: 260px;right: -102px;
                            .heading{font-size: 18px; padding:10px;}
                            &:before{
                                top: -10px; right: 104px;
                            }
                            .notification-list{
                                li{
                                    padding: 8px 15px;  font-size: 12px;
                                }
                            }
                            .view-all{
                                padding:8px 15px;
                                a{font-size:15px;}
                            }
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down (xs){
        .navbar{margin-top: 0px;}

        .navbar{
            .right_nav{ 
                li{
                    &.user_info{
                        margin-right: 38px; padding-left: 10px;
                        .dropdown-toggle{
                            .name{
                                font-size: 12px;
                            }
                            &:after{
                                font-size: 17px; margin-left: 5px;
                            }
                        }
                        
                    }
                    
                    &.user_img {
                        width: 45px;
                        a{
                            border: 1px solid white;height: 35px;width: 35px;
                        }
                    }
                    &.search-icon{
                       a{font-size: 18px;}
                    }
                }
            }
        }
       // .toggle-icon {
       //      width: 20px;position: absolute;top: 50%;transform: translate(0,-50%);
       //      // left: 75px;
       //      span{height:2px;}
       //  }
    }
}
.close-menu{
    #header{
        padding-left: 100px;
        .logo{
            width:80px;padding:15px;  @include transition(all 0.3s);
            .mobile-logo{
                display: block;  @include transition(all 0.3s);
            }
            .dasktop-logo{
                display: none;  @include transition(all 0.3s);
            }
        }
    } 
}