//path
$fonturl     : '../fonts';
$imageurl    : '../images';

//fonts
$font-book   : 'AvenirLTStdBook';
$font-med    : 'AvenirLTStdMedium';
$font-black  : 'AvenirLTStdBlack';
$font-heavy  : 'AvenirLTStdHeavy';
$font-light  : 'AvenirLTStdLight';

//variables
$theme-color	: #3CC9D7;
$yellow   		: #F3D61A;
$white   		: #fff;
$black   		: #000;
$dark-blue		:#233266;
$light-black	:#2E2E2E;
$grey-light	: #C5C5C5;
$grey-dark:#737373;
$border-color:#E9E9E9;
$orange-color:#FE840E;
$green:#AAC74A;
$red:red;

//Fonts Family 
@include font-face($font-book , '#{$fonturl}/AvenirLTStdBook', 'normal', 'normal'); 
@include font-face($font-med , '#{$fonturl}/AvenirLTStdMedium', 'normal', 'normal'); 
@include font-face($font-black , '#{$fonturl}/AvenirLTStdBlack', 'normal', 'normal');
@include font-face($font-heavy , '#{$fonturl}/AvenirLTStdHeavy', 'normal', 'normal'); 
@include font-face($font-light , '#{$fonturl}/AvenirLTStdLight', 'normal', 'normal'); 