$color-white:#fff;

$theme-color:#867452;
$color-green:#5AA832;

// $fontRg:    'AvenirNextLTPro-Regular';
// $fontBold:       'AvenirNextLTPro-Bold';
// $fontRg02:       'DroidSerifRegular';

$imageurl:     "../img";
$fonturl :     "../fonts";  



