.faq-page{
    .common-box{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    border-radius: 5px;
    background-color: #fff;
        .accordion{
          .card{
            border:0px;border-bottom:1px solid #F0F0F0; 
            .card-header{
                padding-right: 180px;position:relative;background:$white;
                border:0px;padding:0px;
                    button{
                    padding:20px 190px 20px 54px;width:100%;display:block;height:69px;
                    text-align:left;color:$black;font-size:14px;font-family:$font-med;
                        &:before{
                            content:"\e99c";font-family:'icomoon' !important; font-size:26px;position:absolute;left:20px;
                            color:$grey;top:50%;transform:translateY(-50%);
                        }
                    &[aria-expanded="true"]{
                        @include box-shadow(0, 8px, 15px, rgba($black, 0.1));color:$theme-color;
                            &:before{
                                content:"\e9b0";color:$theme-color;
                            }
                    }
                   }

                .right-cnt{
                    position:absolute;right:25px;top:50%;transform:translateY(-50%);
                    li{
                        &:not(:last-child){
                            margin-right:25px;
                        }
                        a{
                            color:$grey;font-size:17px;display:inline-block;
                            &.drag_action{
                                cursor:all-scroll;
                            }
                        }
                    }
                }
                &.disabled{
                    button{
                        color:$grey;
                    }
                }
            }
            .card-body{
                padding:20px 25px;
                p{
                    font-size:14px;
                    &:not(:last-child){
                        margin-bottom:8px !important;
                    }
                }
            }
          }
        }
        .common-pagination{
            margin-top:40px;
        }
    }
}